# Created by .ignore support plugin (hsz.mobi)
/.idea
.spyderworkspace

# ignore the config files
ciipro_config.py
ciipro_app.wsgi

# javascript files
/static/js/*

/__pycache__

# database
users.db

# uploads folders

/uploads.lustre
/uploads_local

# vim files 
*.swp

# .pyc files
*.pyc
