{% extends "template.html" %}
{% block content %}
<div style="margin-left: 100px; margin-right: 100px;">
	<h2 style="color:#00008B;">We're Sorry!</h2>
	<br>
	<p style="color:#00008B;" >
        It seems that what you were trying to do caused an error in the CIIPro 
        application. <br>
        
        If  you continue to experience problems please contact
        <a href="mailto:danrusso@scarletmail.rutgers.edu?Subject=CIIPRO">danrusso@scarletmail.rutgers.edu</a>.

        <br>
        <br>
        CIIPro is constantly being updated and we appreciate your feedback. 
	</p>
	
</div>
{% endblock %}		
