{% extends "template.html" %}
{% block content %}
<div name= "p1" style="margin-left: 5px; margin-right: 5px; margin-bottom: 20px">
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}
		{% endif %}	
    <div class="container-fluid" style="height: 100%">
        <div class="row">

            <div class="col-lg-2" style="width: 40%; background-color: #E0E0E0; border: 1px solid black;">
                <p>
                <form action="/ciiproaction" method="post" enctype="multipart/form-data">

                <b>Step 1.</b> Select Input Type.
                 <div class="row" >
 
			<div class="col-md-1" style="width: 100%; background-color: LightGray; border: 1px solid blue;">
				<input type="radio" name="input_type" value="CAS"> CAS Registry Number
				</input><br>
				<input type="radio" name="input_type" value="CID" checked="checked"> PubChem CID
				</input><br> 
				<input type="radio" name="input_type" value="name"> IUPAC Name
				</input><br>
				<input type="radio" name="input_type" value="smiles"> Canonical SMILES
				</input><br>
				<input type="radio" name="input_type" value="inchikey"> InChIKey
				</input><br>
			</div>

                  </div>
	<br>

        	<b>Step 2.</b> Provide Compounds	
		<div class="row equal">

			<div class="col-md-2" style="width: 50%; background-color: LightGray; border: 1px solid blue;">
				<b>Please enter compounds:</b><br> 
				(Up to 50 compounds seperated by a newline)<br>
				<textarea cols="20" rows="5" name="compounds""></textarea>
			</div>

			<div class="col-md-2" style="width: 50%; background-color: LightGray; border: 1px solid blue;">
				<b>Or Upload a file here:</b> 
				<br>
				<input type="file" name="compound_file"/>
			</div>
		</div>
	<br>

	
        	<b>Step 3.</b> Set Biological Profiling Parameters
		<div class="row">

			<div class="col-md-3" style="width: 33.3%; background-color: LightGray; border: 1px solid blue;">
				Select number of actives to be considered for each bioassay:<br>
				<br>
				<b>Note:</b> Please enter number as an integer (i.e. 5) <br>
				<input type="text" name="noOfActives"/> <br>
			</div>

			<div class="col-md-3" style="width: 33.3%; background-color: LightGray; border: 1px solid blue;">
				Minimum biological similarity for nearest neighbor calculation: <br>
				<br>
                		<b>Note:</b> Please enter number as a floating number (i.e. 0.7) <br>
                		<input type='text' name="cutoff"/> <br>
			</div>

			<div class="col-md-3" style="width: 33.3%; background-color: LightGray; border: 1px solid blue;">
                		Please enter a confidence cutoff: <br>
				<br>
				<br>
                		<b>Note:</b> Please enter number as an integer (i.e. 5) <br>
                		<input type='text' name="conf"/> <br>				
			</div>
		</div>
	<br>


        	<b>Step 4.</b> Prediction parameters (Activity file required)<br> 
                    <b>Activity file?</b> 
                    <input type="radio" name="activity_boolean" value="Yes"> Yes</input>
                    <input type="radio" name="activity_boolean" value="No" checked="checked"> No</input>
		<div class="row">

			<div class="col-md-2" style="width: 50%; background-color: LightGray; border: 1px solid blue;">
				<b>Upload Activity file here:</b><br>
					<br>
					<input type="file" name="activity_file"/>
						<input type="radio" name="act_delimit" value="act_comma"> CSV (Comma delimted)
						</input><br>
						<input type="radio" name="act_delimit" value="act_tab" checked="checked"> TSV (Tab delimted)
						</input><br> 
			</div>
				
			<div class="col-md-2" style="width: 50%; background-color: LightGray; border: 1px solid blue;">
				<b>Number of nearest neighbors to be used for predictions:</b> <br>
                		<b>Note:</b> Please enter number as an integer number (i.e. 5) <br>
                		<input type='text' name="nearest_neighs"/> <br>
			</div>

		</div>
	<br>
	
        	<b>Step 5.</b> Choose output format and submit
		<div class="row">
			
			<div class="col-md-1" style="width: 100%; background-color: LightGray; border: 1px solid blue;">
			<b>Choose output format:</b><br>
				<br>
				<input type="radio" name="output_delimit" value="output_comma"> CSV (Comma delimted)
				</input><br>
				<input type="radio" name="output_delimit" value="output_tab" checked="checked"> TSV (Tab delimted)
				</input><br>
			<input type="submit" value = "Submit" name="user_input"/>
			</div> 	
			
		</div>
        </div>
	</form>
	</p>

     {% if hp %}     
        <div class="col-lg-2" style="width: 60%">
            <div class="row" > 
                <div class="col-md-1" style="width: 100%">
            	       {{ hp|safe }}
                </div>
            </div>
    {% endif %}
    {% if go %} 
            <div class="row">
                <div class="col-md-3" style="width: 49%">
                    
 
                    <h3 style="text-align:center"><a href="/sendmatrixstats">In vitro-in vivo Correlation</a></h3>
                    <h5 style="text-align:center">Click title to download</h5> 
                    <div class="row">
                        <div class="col-md-5" style="width: 20%; border: 1px solid blue;">
                        {% if aid  %}
                                <h5><b>AID</b></h5>
                            {% for each in aid %}
                                <ul>{{ each }}</ul>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="col-md-5" style="width: 20%; border: 1px solid blue;">
                        {% if sens  %}
                                <h5><b>Sensitivity</b></h5>
                            {% for each in sens %}
                                <ul>{{ each }}</ul>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="col-md-5" style="width: 20%; border: 1px solid blue;">
                        {% if spec  %}
                                <h5><b>Specificity</b></h5>
                            {% for each in spec %}
                                <ul>{{ each }}</ul>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="col-md-5" style="width: 20%; border: 1px solid blue;">
                        {% if ccr  %}
                                <h5><b>CCR</b></h5>
                            {% for each in ccr %}
                                <ul>{{ each }}</ul>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="col-md-5" style="width: 20%; border: 1px solid blue;">
                        {% if l  %}
                                <h5><b>Likelihood</b></h5>
                            {% for each in l %}
                                <ul>{{ each }}</ul>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3" style="width: 2%">
                    <div class="row">
                    </div>
                </div>
   
                <div class="col-md-3" style="width: 42%">


                    <h3 style="text-align:center"><a href="/dlpredictionfiles">Biological Similarity Predictor</a></h3>
                    <h5 style="text-align:center">Click title to download</h5> 
                    <div class="row">
                    <div class="col-md-3" style="width: 33%; border: 1px solid blue;">
                        {% if cid  %}
                                <h5><b>CID</b></h5>
                            {% for each in cid %}
                                <ul>{{ each }}</ul>
                            {% endfor %}
                        {% endif %}
                    </div>

                    
                    <div class="col-md-3" style="width: 33%; border: 1px solid blue;">
                        {% if act  %}
                                <h5><b>Experimental</b></h5>
                            {% for each in act %}
                                <ul>{{ each }}</ul>
                            {% endfor %}
                        {% endif %}
                    </div>


                    <div class="col-md-3" style="width: 33%; border: 1px solid blue;">
                        {% if pred  %}
                                <h5><b>Predicted</b></h5>
                            {% for each in pred %}
                                <ul>{{ each }}</ul>
                            {% endfor %}
                        {% endif %}
                    </div>

                    </div>
              </div>
             </div>  
      </div>
    {% endif %}
 </div>
</div>         
</div>
{% endblock %}
