{% extends "template.html" %}
{% block content %}
<div name= "p1" style="margin-left: 5px; margin-right: 5px; margin-bottom: 20px">
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}
		{% endif %}	
    <div class="container-fluid" style="height: 100%">


<div class="col-lg-12" style="width: 100%">
        <div class="row">

            <div class="col-lg-1" style="width: 30%; background-color: #E0E0E0; border: 1px solid black;">
                <p>

             <form action="/ciiprofile" method="post" enctype="multipart/form-data">
	     {% if datasets %}  
		Avaialable datasets for <b>{{ username }}</b>:<br>
		<div class="row">
			<div class="col-md-1" style="width: 100%; background-color: LightGray; border: 1px solid blue;">
			{% for dataset in datasets %}
                          {% if datasets.index(dataset) == 0 %}  
				<input type="radio" name="compound_filename" value="{{ dataset }}" checked="checked"> {{ dataset }}
				</input><br>
                          {% else %}
				<input type="radio" name="compound_filename" value="{{ dataset }}"> {{ dataset }}
				</input><br>
                          {% endif %}
			{% endfor %}
			</div>
	        </div>
	     {% endif %}


	     {% if not datasets %}  
		No datasets available for <b>{{ username }}</b>:<br>
		<div class="row">

			Please upload a dataset to be profiled.
	        </div>
	     {% endif %}




<br>
	
        	<b>Step 1.</b> Set Biological Profiling Parameters
		<div class="row">

			<div class="col-md-1" style="width: 100%; background-color: LightGray; border: 1px solid blue;">
				Select number of actives to be considered for each bioassay:<br>
				<br>
				<b>Recommended:</b> Between 6-10<br>
				<input type="number" value="6" name="noOfActives" min="0", max="10", step="1"/> <br>

			</div>

		</div>
<br>


                        <input type="submit" value = "Profile" name="user_input"/>	
                </div>
	        </form>

	  </div>

	</p>


		</div>


     {% if hp %}  

            <div class="row" > 

                <a href="/sendbioprofile">Click Here to download bioprofile and assay statistics</a>
                <div class="col-md">
            	       {{ hp|safe }}
                </div>
            </div>

    {% endif %}
     {% if stats %}
<!-- <div class="col-md-1" style="width: 50%;"> -->
                            <p style="text-indent: 5em; color:#00008B;">
                            Data can be sorted by column by clicking column header.  Click <a href="/statsglossary" target="_blank">here</a> for a glossary of the statistical metrics calculated by CIIPro.
                            </p>
		<div class="row" style="width: 75%">
                    {{ stats|safe }}
               </div>

                    
<!-- </div> -->
     {% endif %}
</div>

 </div>
</div>         
</div>
{% endblock %}
