{% extends "template.html" %}
{% block content %}

		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
<style>
	div.profile {

    padding-left: 100px;
}
</style>

<div class="profile">
<form action="/ciiprofile" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-primary">
					{% if datasets %}
					<div class="panel-heading">
						<h3 class="panel-title">Avaialable datasets for <b>{{ username }}</b>:<br></h3>
					</div>
					<div class="panel-body">
						{% for dataset in datasets %}
							{% if datasets.index(dataset) == 0 %}
								<input type="radio" name="compound_filename" value="{{ dataset }}" checked="checked"/> {{ dataset }}
								<br>
							{% else %}
								<input type="radio" name="compound_filename" value="{{ dataset }}"/> {{ dataset }}
							<br>
							{% endif %}
						{% endfor %}
					</div>
					{% endif %}
					{% if not datasets %}
					<div class="panel panel-heading">
						<h3 class="panel-title">No datasets available for <b>{{ username }}.</b></h3>
					</div>
					<div class="panel-body">
						Please upload a data set to profile.
					</div>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Set Biological Profiling Parameters:<br></h3>
					</div>
					<div class="panel-body">
						Select number of actives to be considered for each bioassay:<br>
						<br>
						<b>Recommended:</b> Between 6-10<br>
						<input type="number" value="6" name="noOfActives" min="0" max="30" step="1"/> <br>

					</div>
				</div>
			</div>
		</div>
		<input type="submit" class="btn btn-primary" value="Profile" name="user_input"/>
		</form>


		{% if stats %}
		<div class="row" >
			<div class="col-lg">
                <a href="/sendbioprofile">Click Here to download bioprofile and assay statistics.</a><br>
				<a href="/optimizeprofile">Click Here to optimize bioprofile.</a>
			</div>
		</div>
    	{% endif %}
</div>

{% endblock %}
