{% extends "template.html" %}
{% block content %}
<div name= "p1" style="margin-left: 5px; margin-right: 5px; margin-bottom: 20px">
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}
		{% endif %}	
    <div class="container-fluid" style="height: 100%">


<div class="col-lg-12" style="width: 100%">
        <div class="row">

            <div class="col-lg-1" style="width: 30%; background-color: #E0E0E0; border: 1px solid black;">
                <p>

             <form action="/ciiprofile" method="post" enctype="multipart/form-data">
	     {% if datasets %}  
		Avaialable datasets for <b>{{ username }}</b>:<br>
		<div class="row">
			<div class="col-md-1" style="width: 100%; background-color: LightGray; border: 1px solid blue;">
			{% for dataset in datasets %}
                          {% if datasets.index(dataset) == 0 %}  
				<input type="radio" name="compound_filename" value="{{ dataset }}" checked="checked"> {{ dataset }}
				</input><br>
                          {% else %}
				<input type="radio" name="compound_filename" value="{{ dataset }}"> {{ dataset }}
				</input><br>
                          {% endif %}
			{% endfor %}
			</div>
	        </div>
	     {% endif %}


	     {% if not datasets %}  
		No datasets available for <b>{{ username }}</b>:<br>
		<div class="row">

			Please upload a dataset to be profiled.
	        </div>
	     {% endif %}




<br>
	
        	<b>Step 1.</b> Set Biological Profiling Parameters
		<div class="row">

			<div class="col-md-1" style="width: 100%; background-color: LightGray; border: 1px solid blue;">
				Select number of actives to be considered for each bioassay:<br>
				<br>
				<b>Note:</b> Please enter number as an integer (i.e. 5) <br>
				<input type="text" name="noOfActives"/> <br>
			</div>

		</div>
<br>



         	<b>Step 2.</b> Choose how to sort in-vitro, in-vivo correlations.
		<div class="row">
			
			<div class="col-md-1" style="width: 100%; background-color: LightGray; border: 1px solid blue;">
			<b>Sort By:</b><br>
				<input type="radio" name="sort_by" value="TP"> True Positives
				</input><br>
				<input type="radio" name="sort_by" value="TN"> True Negatives
				</input><br>
				<input type="radio" name="sort_by" value="FP"> False Positives
				</input><br>
				<input type="radio" name="sort_by" value="FN"> False Negatives
				</input><br>
				<input type="radio" name="sort_by" value="Sensitivity" checked="checked"> Sensitivity
				</input><br>
				<input type="radio" name="sort_by" value="Specificity"> Specificity
				</input><br>
				<input type="radio" name="sort_by" value="CCR"> CCR
				</input><br>
				<input type="radio" name="sort_by" value="PPV"> Positive Predictive Value
				</input><br>
				<input type="radio" name="sort_by" value="NPV"> Negative Predictive Value
				</input><br>
				<input type="radio" name="sort_by" value="L"> L-Parameter
				</input><br>
				<input type="radio" name="sort_by" value="Coverage"> Coverage
				</input><br>
			</div> 
                        <input type="submit" value = "Profile" name="user_input"/>	
                </div>
	        </form>

	  </div>

	</p>


		</div>


     {% if sim_graph %}  

            <div class="row" > 
                <div class="col-lg">
            	       {{ sim_graph|safe }}
                </div>
            </div>

    {% endif %}
     {% if stats %}
<div class="col-lg-1" style="width: 30%;">
		<div class="row">
                    {{ stats|safe }}
               </div>
</div>
     {% endif %}
</div>

 </div>
</div>         
</div>
{% endblock %}
