{% extends "template.html" %}
{% block content %}
	<div class="jumbo" style="margin-left: 100px; margin-right: 100px;">

		 CIIPro is hosted by the <a href="http://zhu.camden.rutgers.edu/">Zhu Research Group</a> at
            Rutgers University in Camden, NJ and is proudly affiliated with the Rutgers Camden
            <a href="http://ccib.camden.rutgers.edu/">Center for Computational and Integrative Biology</a><br>
		 <br>
		 All queries should be mailed to <a href="mailto:danrusso@scarletmail.rutgers.edu?Subject=CIIPRO">danrusso@scarletmail.rutgers.edu</a><br>
		 <br>
	</div>	
{% endblock %}		
