{% extends "template.html" %}
{% block content %}
	<div class="jumbo" style="margin-left: 100px; margin-right: 100px;color:#00008B;">
		<p>
		<center>
		<h3>What is CIIPro?</h3>
		</center>
		<br>
    <p style="text-indent: 5em; color:#00008B; margin-left:5em; margin-right:20em;">
        Welcome to the Chemical <i>In vitro</i> - <i>In vivo</i> Profiling (CIIPro) project.  CIIPro is a cheminformatics web tool designed to 
        link chemical features and <i>in vitro</i> biological data with targeted <i>in vivo</i> biological activity.  It was designed and developed by 
        the <a href="http://zhu.camden.rutgers.edu/">Zhu Research Group</a> at Rutgers University in Camden, NJ.
    </p>
		<br>
		<center>
		<h3>How does CIIPro work?<br></h3>
		</center>
    <p style="text-indent: 5em; color:#00008B; margin-left:5em; margin-right:20em;">
        CIIPro automatically extracts the relevant public bioassay data for target compounds, constructs their biological profiles, and calculates 
        biological similarity.  Currently the resulting <i>biological profiles</i> consist of biological assay data from PubChem only.  
        Using CIIPro, the target compounds can be grouped based on their public bioassay testing results and compared to the target biological activity. 
    </p>

    <p style="text-indent: 5em; color:#00008B; margin-left:5em; margin-right:20em;">
        A more detailed tutorial can be found in the <a href="/tutorial">tutorial</a> section.  We are always looking for feedback on the improvement 
        of the web portal.  Please forward any feedback to <a href="mailto:danrusso@scarletmail.rutgers.edu?Subject=CIIPRO">danrusso@scarletmail.rutgers.edu</a>.
    </p>

	</div>	
{% endblock %}		
