{% extends "template.html" %}
{% block content %}
	<div class="jumbo">
		<h2>Welcome to CIIPRO username recovery</h2>
		<br/>
		<p>
		If you are new to CIIPRO, click <a href="/register">here</a> to register.<br>
		Forgot Username? click <a href="/passreset">here</a><br> 
		<h3>Please enter your email:</h3>
		</p>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}
		{% endif %}		
		<form action="" method="post">
			<input type="text" placeholder="email" name="email" value="{{
			request.form.email }}" required><br>
			<br>
			<input class="btn btn-default" type="submit" value="Submit">
			<br>
		</form>
		
	</div>	
{% endblock %}		
